@model IEnumerable<vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<div class="btn-group" style="margin-bottom:20px">
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</div>

@if (!Model.Any())
{
    <p>We don't have movies yet.</p>
} else
{
    <table class="table table-bordered table-hover">
        <thead>
            <th>Movie</th>
            <th>Genre</th>
        </thead>
        <tbody>
            @foreach ( var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

